sudo: false
language: java
arch:
  - arm64
  - amd64
cache:
  directories:
  - $HOME/.m2
install: true
script:
  - if [ "${TRAVIS_CPU_ARCH}" == "arm64" ]; then
     sudo apt-get install maven;
     sudo apt-get install openjdk-11-jdk;
     export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-arm64;
     export PATH=$JAVA_HOME:$PATH;
   fi
  - mvn clean test -Dmaven.test.redirectTestOutputToFile=true -P travis
  - mvn jacoco:report -P travis
branches:
  only:
  - develop
jdk:
  - openjdk9

after_success:
  - bash <(curl -s https://codecov.io/bash)
  
